version: '3.8'

services:
  # Base Infrastructure
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - agridirect-net

  # Microservices
  gateway:
    build:
      context: .
      dockerfile: services/gateway/Dockerfile
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - mongo
    networks:
      - agridirect-net

  auth:
    build:
      context: .
      dockerfile: services/auth/Dockerfile
    ports:
      - "5001:5001"
    env_file: .env
    depends_on:
      - mongo
    networks:
      - agridirect-net

  user:
    build:
      context: .
      dockerfile: services/user/Dockerfile
    ports:
      - "5002:5002"
    env_file: .env
    depends_on:
      - mongo
    networks:
      - agridirect-net

  product:
    build:
      context: .
      dockerfile: services/product/Dockerfile
    ports:
      - "5003:5003"
    env_file: .env
    depends_on:
      - mongo
    networks:
      - agridirect-net

  order:
    build:
      context: .
      dockerfile: services/order/Dockerfile
    ports:
      - "5004:5004"
    env_file: .env
    depends_on:
      - mongo
    networks:
      - agridirect-net

  communication:
    build:
      context: .
      dockerfile: services/communication/Dockerfile
    ports:
      - "5005:5005"
    env_file: .env
    depends_on:
      - mongo
    networks:
      - agridirect-net

  feedback:
    build:
      context: .
      dockerfile: services/feedback/Dockerfile
    ports:
      - "5006:5006"
    env_file: .env
    depends_on:
      - mongo
    networks:
      - agridirect-net

  payment:
    build:
      context: .
      dockerfile: services/payment/Dockerfile
    ports:
      - "5007:5007"
    env_file: .env
    depends_on:
      - mongo
    networks:
      - agridirect-net

  ai-service:
    build:
      context: .
      dockerfile: services/ai_connection/Dockerfile
    ports:
      - "5008:5008"
    env_file: .env
    networks:
      - agridirect-net

  # Frontend
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    networks:
      - agridirect-net

networks:
  agridirect-net:
    driver: bridge

volumes:
  mongo_data:
